@media (min-width: 1480px) {
}

@media (min-width: 1024px) and (max-width: 1480px) {
  .navbar-logo {
    margin-left: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
    margin-right: 12%;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 12%;
  }
  .title {
    font-size: 45px;
  }
  .title-text {
    font-size: 19px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
    margin-right: 12%;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 12%;
  }
  .title {
    font-size: 36.5px;
  }
  .title-text {
    font-size: 18px;
    white-space: normal;
    padding: 7% 10%;
  }
  .avatar {
    width: 240px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .first-page {
    height: 800px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
    margin-right: 12%;
    width: 40px;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 12%;
    width: 60px;
  }
  .title {
    font-size: 29px;
  }
  .title-text {
    font-size: 15px;
    white-space: normal;
    padding: 7% 10%; 
  }
  .avatar {
    width: 240px;
  }
  .buttons {
    font-size: 18px;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-button {
    width: 170px;
    margin-right: 0;
  }
  .download-button {
    width: 170px;
  }
}
