@media (min-width: 1480px) {
}

@media (min-width: 1024px) and (max-width: 1480px) {
  .navbar-logo {
    margin-left: 15%;
  }
  .project-card {
    width: 49%;
    height: 330px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
    margin-right: 12%;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 12%;
  }
  .title {
    font-size: 45px;
  }
  .title-text {
    font-size: 19px;
  }
  .projects-cards {
    flex-direction: column;
  }
  .project-card {
    margin-bottom: 10%;
  }
  .project-card:nth-child(n + 3) {
    padding-top: 0;
  }
  .third-page {
    padding-top: 15%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
    margin-right: 12%;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 12%;
  }
  .title {
    font-size: 36.5px;
  }
  .title-text {
    font-size: 18px;
    white-space: normal;
    padding: 7% 10%;
  }
  .avatar {
    width: 240px;
  }
  .experience {
    margin-top: 60px;
  }
  .exp-icon {
    width: 45px;
    height: 45px;
  }
  .exp-icons {
    gap:15%;
  }
  .projects-cards {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    height: 20%;
    margin-bottom: 10%;
  }
  .project-card:nth-child(n + 3) {
    padding-top: 0;
  }
  .project-title {
    font-size: 22px;
  }
  .third-page {
    padding-top: 15%;
  }
  .card-header {
    flex-direction: column;
    align-items: baseline;
  }
  .card-title {
    font-size: 20px;
    padding-bottom: 3%;
  }
  .card-description-third {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .first-page {
    height: 850px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
    margin-right: 12%;
    width: 40px;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 12%;
    width: 60px;
  }
  .title {
    font-size: 28px;
    padding: 40px 3% 0px;
  }
  .title-text {
    font-size: 16px;
    white-space: normal;
    padding: 7% 10%; 
  }
  .avatar {
    width: 200px;
  }
  .buttons {
    font-size: 18px;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-button {
    width: 170px;
    margin-right: 0;
  }
  .download-button {
    width: 170px;
  }
  .experience {
    margin-top: 60px;
  }
  .experience-title{
    padding-bottom: 40px;
    font-size: 30px;
  }
  .exp-text {
    font-size: 30px;
  }
  .exp-icon {
    width: 40px;
    height: 40px;
  }
  .exp-icons {
    gap:15%;
  }
  .projects-cards {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    height: 20%;
    margin-bottom: 12%;
  }
  .project-card:nth-child(n + 3) {
    padding-top: 0;
  }
  .projects-title {
    font-size: 30px;
  }
  .project-title {
    font-size: 16px;
  }
  .project-link {
    font-size: 14px;
  }
  .third-page {
    padding-top: 15%;
  }
  .card-header {
    flex-direction: column;
    align-items: baseline;
  }
  .arrow {
    width: 12px;
    height: 12px;
  }
  .card-title {
    font-size: 18px;
    padding-bottom: 3%;
  }
  .card-title-logo {
    width: 40px;
  }
  .card-date {
    font-size: 16px;
  }
  .card-description {
    padding: 10px 25px;
  }
  .card-description-third {
    font-size: 14px;
  }
  .footer-description, .mail {
    font-size: 14px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
